/* //////////// Page Styles //////////// */

* {
  font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
}

h4 {
  font-family: "Della Respira";
}

a {
  color: #16C2F2;
}

/* remove hyperlink color */
a:link, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#page-container, .footer {
  background-image: url("../images/snowy-mountains.jpg");
  /* Fill background */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  padding-left: 0;
  padding-right: 0;
  
  /* Hardward Accelerated CSS - increases FPS, prevents lagging caused by the browser 
 recruit the device's GPU to render the background image as the user scrolls */
  transform: translate3d(0,0,0);
}


/* //////////// Navbar Styles //////////// */

#nav-menu {
  background-color: rgba(231, 231, 231, 0);
  z-index: 5;
}

#nav-logo {
  max-height: 40px;
  float: left;
  margin-top: -10px;
  margin-right: 10px;
  border-bottom-left-radius: 9px; 
  border-bottom-right-radius: 9px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  opacity: 0.9;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
}

#nav-menu.navbar-default {
  font-size: 16px;
  background-color: rgba(189, 189, 189, 0);
  /*background: linear-gradient(to bottom, rgba(237, 237, 237, 1) 0%, rgba(189, 189, 189, 1) 100%);*/
  border-width: 0px;
}

#nav-menu.navbar-default .navbar-nav > li .nav-hover-style {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(189, 189, 188, 0);
  background: linear-gradient(to bottom, rgba(237, 237, 237, 0) 0%, rgba(189, 189, 188, 0) 100%);
  text-align: center;
}

#nav-menu.navbar-default .navbar-nav > li .nav-hover-style:hover,
#nav-menu.navbar-default .navbar-nav > li .nav-hover-style:focus {
  color: rgba(77, 74, 74, 1);
  background-color: rgba(166, 164, 164, 0);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(166, 164, 164, 0) 100%);
}
#nav-menu.navbar-default .navbar-toggle:hover .icon-bar,
#nav-menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #bdbdbd;
}

#nav-menu.navbar-default .navbar-brand {
  color: rgba(51, 122, 183, 1);
}
#nav-menu.navbar-default .navbar-toggle .icon-bar,
#nav-menu.navbar-default .navbar-toggle:hover,
#nav-menu.navbar-default .navbar-toggle:focus {
  background-color: #337ab7;
}

#nav-menu.navbar-default .navbar-nav > .active .nav-hover-style,
#nav-menu.navbar-default .navbar-nav > .active .nav-hover-style:hover,
#nav-menu.navbar-default .navbar-nav > .active .nav-hover-style:focus {
  color: rgba(77, 74, 74, 1);
  background-color: rgba(51, 122, 183, 1);
  background: linear-gradient(to bottom, rgba(231, 231, 231, 1) 0%, rgba(51, 122, 183, 1) 100%);
}


/* //////////// Jumbotron Styles //////////// */

.jumbotron {
  /*max-width: 1100px;*/
  max-width: 700px;
  margin:0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 10px  !important;
  z-index: 2;
  margin-bottom: 5px !important;
  background-color: rgba(217, 217, 217, 0.45);
}

.jumbotron > h1 {
  margin-top: 0px;
  text-shadow: 3px 2px #CCC, 1px 0px 1px #CCC, 0px 1px 1px #190D0D, 
  2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 
  2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee;
}

.jumbotron > h4 {
  text-shadow: 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 
  2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee;
}

#about-list {
  margin-left: 7%;
  margin-right: 7%;
  text-align: left;
  list-style-type: circle;
  letter-spacing: 1.6px;
}

#homepage-list {
  margin-left: 7%;
  margin-right: 7%;  
}

.welcome-text {
  max-width: 700px !important;  
  padding-right: 30px;
  padding-top: 15px;
  margin-bottom: 0px;
  list-style-type: none !important;
  text-align: center;
  line-height: 2px;
  font-size: 18px;
}

#content-split {
  max-width: 82%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-width: 2.5px;
  border-top-color: #808080;
  border-top-style: solid;
}

hr + hr {
  margin-top: -18px !important;
}

.middle-content {
  min-width: 80%;
  min-height: 350px;
  margin-bottom: 40px;
}

#logo {
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.85;
  margin-bottom: 14px;
}

#map {
  position: absolute;
  top: 60px;
  left: 8%;
  right: 7%;
  max-width: 1015px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  width: 77%;
  height: 400px;
  margin: auto auto;
  z-index: 1;
  /* faster map rendering */
  transform: translate3d(0,0,0);
}

#map div {
  cursor: default;
}

/* on normal curson when map is removed */
#remove-map {
  cursor: pointer;
}


/* //////////// Location Menu Styles //////////// */

ul.locations_menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
  font-size: 16px;
  width: 1020px;
  font-weight: 500;
}

ul.locations_menu a {
  text-decoration: none;
  outline: none;
}

ul.locations_menu li {
  float: left;
  width: 170px;
  height: 85px;
  position: relative;
  cursor: pointer;
}

ul.locations_menu li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 85px;
  z-index: 1;
  background: rgba(217, 217, 217, 0.6);
  box-shadow: 0 0 90px #000000 inset;
  border-radius: 10px;
}

ul.locations_menu li a img {
  border: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 85px;
  z-index: 10;
  box-shadow: 0 0 4px #000000;
}

ul.locations_menu li span span.locations_name {
  color: #fff;
  font-size: 24px;
  padding-left: 10px;
}

ul.locations_menu li span.locations_wrap {
  position: absolute;
  top: 25px;
  left: 0;
  width: 170px;
  height: 60px;
  z-index: 3;
}

ul.locations_menu li span.locations_active {
  position: absolute;
  background: #111;
  top: 85px;
  width: 170px;
  height: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 0 4px #000000 inset;
}

span.locations_resorts {
  position: absolute;
  top: 34px;
  left: 20px;
}

span.locations_name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

#align-mt {
  margin-left: 20px;
}

#align-utah {
  margin-left: 40px;
}

#align-nm {
  margin-left: 7px;
}

#align-vt {
  margin-left: 24px;
}

ul.locations_menu li span span.locations_resorts {
  color: #0B75AF;
  float: left;
  clear: both;
  font-size: 10px;
  letter-spacing: 2px;
}

ul.locations_menu li div.locations_box {
  display: block;
  position: absolute;
  width: 170px;
  overflow: hidden;
  height: 170px;
  top: 85px;
  left: 0;
  display: none;
  background: rgba(217, 217, 217, 0.7);
}

ul.locations_menu li div.locations_box a {
  float: left;
  clear: both;
  line-height: 30px;
  color: whitesmoke;
  font-size: 16px;
}

ul.locations_menu li div.locations_box a:first-child {
  margin-top: 15px;
}

ul.locations_menu li div.locations_box a:hover {
  color: #fff;
}

/* State Names */
ul.locations_menu li span span.locations_name,
ul.locations_menu li span span.locations_resorts,
ul.locations_menu li div.locations_box a {
  margin-left: 15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000000, 1px 1px 1px #000000;
}

.resorts {
  padding: 5px;
  font-size: 16px;
  color: whitesmoke;
  background-color: rgb(51, 51, 51);
}

div > #locations-dropdown.container {
  max-width: 1036px;
  margin-bottom: 10px;
}


/* //////////// Sponsors Styles //////////// */

#sponsors {
  width: 100%;
  height: 112px;
  margin-top: 170px;
  padding-top: 15px;
  padding-bottom: 110px;
  text-align: center;
  background-color: white;
  text-align: center;
}

#sponsors > img {
  padding-right: 10px;
  padding-left: 10px;
}


/* //////////// Footer and Social Media Styles //////////// */

.footer {
  height: 30px;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 40px;
  /* remove bottom margin from body */
  margin-bottom: -10px;
}

.footer-link {
  padding-top: 12px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
}

/*.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.spacing-social-icons {
  margin: 4px;
}*/

/*.center-icons {
  padding-left: 18%;
}*/

.scroll-up {
  font: normal normal normal 30px/1 FontAwesome;
  margin: 0;
  color: white;
  text-align: center;
  background-color: #373737;
  opacity: .9;
  height: 30px;
  width: 40px;
  display: none;
}

#back-to-top {
  position: fixed;
  right: 15px;
  bottom: 10px;
  margin: 0;
  z-index: 1001;
}

.social ul > li {
  padding-bottom: 5px;
}

.social ul {
  position: fixed;
  top: 100px;
  right: 10px;
  margin: 5px;
  list-style: none outside none;
  display: block;
  z-index: 1000;
}

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 14px;
  border-radius: 50%;
  transition: all ease 0.2s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.2s;
}

/* color social media icons on hover */
.social .fa-facebook:hover {
  background: #4060A5;
}

.social .fa-twitter:hover {
  background: #00ABE3;
}

.social .fa-google-plus:hover {
  background: #e64522;
}

.social .fa-github:hover {
  background: #343434;
}

.social .fa-linkedin:hover {
  background: #0094BC;
}

#footer-left, #footer-top-link {
  padding-top: 12px;
}


/* //////////// Modal Styles //////////// */

#contact-btn-align {
  padding-top: 8px  !important;
  padding-bottom: 7px  !important;
  text-align: center;
}

#contact-modal-button {
  color: rgb(119, 119, 119);
  /*background-image: linear-gradient(rgb(237, 237, 237) 0%, rgb(189, 189, 188) 100%);*/
  background-color: rgba(189, 189, 188, 0);
  border: 0;
}

.modal-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

/* padding inside contact modal textbox */
textarea {
  padding: 10px;
}

textarea #message {
  width: 90%;
  max-width: 95%;
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left; 
}

/* align modal form-input-field and center text */
.select-snowsport {
  max-width: 62%;
  text-indent: 80px;
}

form {
  width: 80%;
  margin: 0 auto;
}

form > ol {
  margin-top: 0;
  margin-bottom: -5px;
}

label, input, select {
  display: inline-block;
}

label {
  width: 30%;
  margin-left: -10px;
  /* positions the label text beside the input */
  text-align: right;
}

label + input,
label + select {
  width: 60%;
  margin: 0 10% 0 0%
}

input + input,
select {
  float: right;
}

#snowsport-input {
  margin-bottom: 20px;
  margin-top: 7px;
}

.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 7%;
}

.modal-backdrop {
  z-index: 0;
}

.remove-alignment {
  text-align: center !important;
}

form li {
  list-style: none;
}

.submit-button > .btn {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 62px;
  padding-left: 62px;
  font-weight: 600;
}


/* //////////// Custom 404 Page Styles //////////// */
.missing-page {
  background-image: url("../images/snowtracks-404-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  max-width: 1360px;
  padding-left: 0;
  padding-right: 0;
}

.no-background {
  background-image: none  !important;
}


/* //////////// Button Animations //////////// */

/* social media icons - on hover bounce larger twice */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.6s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  transform: scale(1.7);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus, .navbar-nav>.open>a {
  background-color: transparent !important;
}

/* navbar items - on hover create white background with rounded edges from bottom up */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 10px;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  transform: scaleY(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/* //////////// Media Queries //////////// */

/* hide Jumbotron bulleted content below 1100px */
@media (max-width: 1100px) {
  .jumbotron > #homepage-list , #content-split {
    display: none;
  }
  .footer {
    padding: 10px;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  /* stack States menu 2 wide, 3 tall */
  div > .locations_menu  {
    display: block;
    max-width: 800px;
    margin: 0 auto;  
  }  
  ul.locations_menu li {
      margin: 85px !important;
  }
  div > #locations-dropdown.container {
    padding-left: 0 !important;
    margin-left: auto;
  }
/* wide Map for small viewports */
  #map {
    width: auto;
    max-width: 600px;
    padding-right: 20px;
  }
}

/* positioning social media icons in footer under 900px */
@media (min-width: 650px) and (max-width: 900px) {
  .center-icons {
    padding-left: 50%;
  }
}
@media (min-width: 574px) and (max-width: 649px) {
  .center-icons {
    padding-left: 26%;
  }
}
@media (max-width: 573px) {
  .center-icons {
    padding-left: 15%;
  }
}

@media (max-width: 800px) {
  .jumbotron {
    background-color: rgba(217, 217, 217, 0.6);;
  }
  
  .jumbotron > h1, .jumbotron > h4 {
    text-shadow: none;
  }
  
  .jumbotron #logo {
    max-height: 70px  !important;
  }

  .jumbotron > #site-name {
    font-size: 45px;
  }

  div > #locations_menu {
    display: block;
    margin: 0 auto;
    padding-left: 5px;
  }
  
  #home-summary {
    display: visible !important;
  }

  /* spacing States 2 wide, 3 tall */
  ul.locations_menu li {
    margin: 85px !important;
  }
  
  div > #locations-dropdown.container {
    padding-left: 0 !important;
  }
  
  #map {
    width: auto;
    max-width: 600px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  #nav-menu {
    background-color: rgba(250, 250, 250, 0.25) !important;
  }
  .navbar-collapse {
    border-color: rgba(69, 69, 69, .3) !important;
  }
  #contact-modal-button, .navbar-nav > li > a {
    color: rgb(72, 72, 72) !important;
  }
  #contact-modal-button, .navbar-nav > li .nav-hover-style {
    color: rgb(69, 69, 69) !important;
  }
}

@media (max-width: 620px) {
  div > #locations-dropdown.container {
    padding-left: 0 !important;
    margin-left: -50px;
  }
}

@media (max-width: 560px) {
  div > #locations-dropdown.container {
    padding-left: 0 !important;
    margin-left: -90px;
  }
}