/* Stylesheet - initial commit */

ul {
  list-style-type: none;
}

input[type=search] {
  border: 2px dotted #999;
  border-radius: 15px;
}

#searchField {
  position: relative;
  display: inline-block;
  margin-left: 35%;
  margin-right: 35%;
  width: 400px;
  overflow: scroll;
  font-size: 24px;
  margin-bottom: 100px;
}